/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

input[type=text] {
    border:none;
    border-bottom: 1px solid;
    width: 100%;
    border-color: #ccc;
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 11px;
}

input[type=text]:focus { 
    outline: none;
}

button {
    width: 200px;
    height: 42px;
    color: rgb(255,255,255);
    background-color:  #ee7033;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    color:white;
    cursor: pointer;
    text-align: center;
    user-select: none;  
    border: none;  
    outline: none;
}

button[disabled] {
    opacity: .5;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    line-height: 30px;
    margin: 0 5px;
    opacity: .5;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.error-message {
    color: red;
    font-weight: 300;
    font-size: 13px;
    line-height: 2em;
}