:host {
    background-image: url('../../../assets/background.jpg');
    display: block;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;    
}

div {
    display: grid;
    grid-template-rows: min-content 1fr;
    margin: 0 auto;
    gap: 30px;
}

@media (min-width: 768px) {    
    div {
        display: grid;
        grid-template-columns: 320px 1fr;
        max-width: 1200px;
        margin: 0 auto;
        gap: 30px;
        margin-top: 70px;
    }
}
